.drawer-enter {
    opacity: 0;
    transform:translateX(100%);
  }
  .drawer-enter-active {
    opacity: 1;
    transform:translateX(0);
    transition: opacity 300ms, transform 300ms;
  }
  .drawer-exit {
    opacity: 1;
    transform:translateX(0);
  }
  .drawer-exit-active {
    opacity: 0;
    transform:translateX(100%);
    transition: opacity 300ms, transform 300ms;
  }